<title>Gallery | Densetsu NYC</title>
{% extends "base/base.html" %}

{% block content %}

	<!-- Title Page -->
	<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(/static/images/gallery.jpeg);">
		<h2 class="tit6 t-center">
			Gallery
		</h2>
	</section>

	<!-- Gallery -->
	<div class="section-gallery p-t-118 p-b-100">
		<div class="wrap-gallery flex-w p-l-25 p-r-25">
			<!-- - -->
			<div class="item-gallery bo-rad-10 hov-img-zoom appdim">
				<img src="/static/images/gallery/butterchicken.png" alt="Buttered Chicken">
			</div>

			<!-- - -->
			<div class="item-gallery bo-rad-10 hov-img-zoom sushi">
				<img src="/static/images/gallery/sushi1.png" alt="Sushi 1">
			</div>

			<!-- - -->
			<div class="item-gallery bo-rad-10 hov-img-zoom appdim">
				<img src="/static/images/gallery/crispychicken.jpg" alt="Crispy Chicken">
			</div>

			<!-- - -->
			<div class="item-gallery bo-rad-10 hov-img-zoom sushi">
				<img src="/static/images/gallery/sushi2.png" alt="IMG-GALLERY">
			</div>

			<!-- - -->
			<div class="item-gallery bo-rad-10 hov-img-zoom appdim">
				<img src="/static/images/gallery/crispychicken2.jpeg" alt="Crispy Chicken 2">
			</div>

			<!-- - -->
			<div class="item-gallery bo-rad-10 hov-img-zoom appdim">
				<img src="/static/images/gallery/ducktaco.jpg" alt="Duck Taco">
			</div>

			<!-- - -->
			<div class="item-gallery bo-rad-10 hov-img-zoom appdim">
				<img src="/static/images/gallery/dumplings.png" alt="Dumplings">
			</div>

			<!-- - -->
			<div class="item-gallery bo-rad-10 hov-img-zoom appdim">
				<img src="/static/images/gallery/dumplings2.png" alt="Dumplings 2">
			</div>

			<!-- - -->
			<div class="item-gallery bo-rad-10 hov-img-zoom appdim">
				<img src="/static/images/gallery/miso.png" alt="Miso">
			</div>
		</div>
	</div>
{% endblock content %}