<title>Copyright Information | Densetsu NYC</title>
{% extends "base/base.html" %}

{% block content %}
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(/static/images/copyright.jpg);">
    <h2 class="tit6 t-center">
        Copyright
    </h2>
</section>

<section class="section-contact p-t-90 p-b-50">
 <div class="container">
   <center>
    <ol style = "text-align: left;">
        <h3>Citations and Disclaimers (©)</h3>
        <br>
        <li><strong>Hosting & Design: </strong><a href = "https://ide.cs50.io/" target="_blank" rel="noopener noreferrer">CS50 IDE</a></li>
        <li><strong>Front-End Design Sharing: </strong><a href = "https://github.com/" target="_blank" rel="noopener noreferrer">GitHub</a></li>
        <li><strong>Python Based Framework: </strong><a href = "https://www.djangoproject.com/" target="_blank" rel="noopener noreferrer">Django</a></li>
        <li><strong>Style Classes and Symbols: </strong><a target="_blank" rel="noopener noreferrer" href = "https://getbootstrap.com/">Bootstrap</a></li>
        <li><strong>Photos:</strong> <a target="_blank" rel="noopener noreferrer" href = "https://www.google.com/search?q=sa+moto+images&rlz=1C1VDKB_enUS987US987&sxsrf=APq-WBsnqlOqjEhrjHlarJE9Ms6FomjF9A:1646791755738&source=lnms&tbm=isch&sa=X&ved=2ahUKEwinivqs-bf2AhWrkYkEHSfsDc0Q_AUoA3oECAEQBQ&biw=1858&bih=977&dpr=1">Sa'Moto</a></li>
        <li><strong>Icons: </strong><a href = "https://getbootstrap.com/" target="_blank" rel="noopener noreferrer">Bootstrap</a></li>
        <li><strong>Reviews: </strong><a href = "https://elfsight.com/" target="_blank" rel="noopener noreferrer">Google Maps API & Elfsight Widgit</a></li>
        <li><strong>SMS Notifications: </strong><a href = "https://www.twilio.com/" target="_blank" rel="noopener noreferrer">Twilio API</a></li>
        <li><strong>E-mail Messaging: </strong><a href = "https://developers.google.com/gmail/api" target="_blank" rel="noopener noreferrer">Google Mail API</a></li>
        <br>
        <p><strong>Website Disclaimer:</strong><br>
        This is not an actual online website for an restaurant company and was created exclusively for a FBLA-PBL competitive event.
        <br>Created by the 2022 FBLA EHT Web Design Team</p>
    </ol>
    </center>
 </div>
</section>
{% endblock content %}